/* You can add global styles to this file, and also import other style files */
.btn{
    --bs-btn-padding-y: 0.25rem !important;
    --bs-btn-padding-x: 0.5rem !important;
    --bs-btn-font-size: 0.875rem !important;
    --bs-btn-border-radius: 0.25rem !important;
}
.fc-header-toolbar{
    white-space: nowrap !important;
}

.fc-toolbar-title{
    font-size: 1.5rem !important;
}